.icon-header {
	width: 100%;
	padding-bottom: 50px;
}

.title-font {
	font-family: 'Anton', sans-serif;
}

.header-text {
	position: absolute;
	color: white;
	right: 10px;
	top: 20%;
	font-size: 5vw;
}

.footer {
	background-color: black;
	height: 150px;
	width: 100%;
}

.iot-btn {
	border-top: 10px;
	display: block;
	margin: 0px auto;
}

.white {
	padding-top: 20px;
	color: white;
}