.brand {
    position: absolute;
    left: 30px;
    top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    transition-duration: 0.3s;
    font-size: 20px;
    cursor: pointer;
}

.brand-color {
    color: red;
    font-weight: 700;
}

.brand:hover {
    font-size: 23px;
    left: 25px;
    top: 17px;
}

.column {
    min-height: 50vh;
    position: relative;
}

.right-column {
    border-left: 2px solid grey;
}

.full-size-container {
    width: 80%;
    padding: 0px;
    margin: 0px auto;
    display: block;
    margin-top: 10em;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    background-color: rgb(194, 193, 193);
}

.title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.chart-container {
    margin-top: 20%;
    width: 80%;
    margin: 0px auto;
    display: block;
    position: relative;
    max-width: 400px;
}

.circle-container {
    width: 85%;
    margin: 0px auto;
    display: block;
}

.needle-container {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
}

.chart-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    padding: 30px;
    z-index: -1;
}

.icon-container {
    width: 50%;
    max-width: 200px;
    margin: 0px auto;
    display: block;
    position: relative;
    background-color: white;
}

.stove-img {
    width: 100%;
    padding-top: 25%;
}

.flame {
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.flame-rt {
    right: 0px;
    left: auto;
}

.stove-face {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
}

.status {
    padding-top: 5%;
    text-align: center;
    font-size: 30px;
}

.activity-table {
    width: 90%;
    margin: 0px auto;
    border-collapse: collapse;
    margin-top: 5%;
    display: table;
    border: 1px solid #dddddd;
}

.entry {
    width: 100%;
}

.entry:nth-child(even) {
    background-color: #dddddd;
}

.data {
    text-align: left;
    padding: 8px;
    font-weight: 500;
}

.state-data {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #79ADCB;
}

.state-center {
    text-align: center;
}

.on-color {
    color: rgb(252, 75, 10);
}