.brand {
    position: absolute;
    left: 30px;
    top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    transition-duration: 0.3s;
    font-size: 25px;
    cursor: pointer;
}

.brand-color {
    color: red;
    font-weight: 700;
}

.brand:hover {
    font-size: 35px;
    left: 25px;
    top: 17px;
}

.column {
    min-height: 50vh;
    position: relative;
}

.right-column {
    border-left: 2px solid rgb(176, 176, 176);
}

.backdrop {
    background-color: rgb(240, 239, 239);
}

.full-size-container {
    width: 80%;
    padding: 0px;
    margin: 0px auto;
    display: block;
    margin-top: 7em;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 8px 8px rgb(159, 159, 159);
    border: 2px solid black;
    max-width: 900px;
    position: relative;
}

.title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.icon-container {
    width: 50%;
    max-width: 200px;
    margin: 0px auto;
    display: block;
    position: relative;
    margin-top: 2em;
}

.stove-img {
    width: 100%;
    padding-top: 25%;
}

.flame {
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.flame-rt {
    right: 0px;
    left: auto;
}

.stove-face {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
}

.status {
    padding-top: 5%;
    text-align: center;
    font-size: 30px;
}

.activity-table {
    width: 90%;
    margin: 0px auto;
    border-collapse: collapse;
    margin-top: 15%;
    display: table;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
}

.entry {
    width: 100%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.entry:hover {
    background-color: rgb(225, 225, 225);
}

.entry:nth-child(even) {
    background-color: #dddddd;
}

.entry:nth-child(even):hover {
    background-color: #bbbbbb;
}

.data {
    text-align: left;
    padding: 8px;
    font-weight: 500;
}

.state-data {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #79ADCB;
}

.state-center {
    text-align: center;
}

.on-color {
    color: rgb(252, 75, 10);
}

.off-color {
    color: #79ADCB;
}

.update-time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 15px;    
}

.more-data {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color: rgb(72, 72, 255);
}

.settings {
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.settings:hover {
    width: 45px;
    left: 8px;
    bottom: 10px;
}